<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-debt-heading" data-cy="DebtCreateUpdateHeading" jhiTranslate="commercialActivitiesApp.debt.home.createOrEditLabel">
        Créer ou éditer un Debt
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let totalAmountRef = editForm.get('totalAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalAmount" jhiTranslate="commercialActivitiesApp.debt.totalAmount">Total Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
          @if (totalAmountRef.invalid && (totalAmountRef.dirty || totalAmountRef.touched)) {
            <div>
              @if (totalAmountRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!totalAmountRef.errors?.number" jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amountPaid" jhiTranslate="commercialActivitiesApp.debt.amountPaid">Amount Paid</label>
          <input
            type="number"
            class="form-control"
            name="amountPaid"
            id="field_amountPaid"
            data-cy="amountPaid"
            formControlName="amountPaid"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_remainingAmount" jhiTranslate="commercialActivitiesApp.debt.remainingAmount"
            >Remaining Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="remainingAmount"
            id="field_remainingAmount"
            data-cy="remainingAmount"
            formControlName="remainingAmount"
          />
        </div>

        @let dateRef = editForm.get('date')!;
        <div class="mb-3">
          <label class="form-label" for="field_date" jhiTranslate="commercialActivitiesApp.debt.date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateRef.invalid && (dateRef.dirty || dateRef.touched)) {
            <div>
              @if (dateRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small class="form-text text-danger" [hidden]="!dateRef.errors?.datetimelocal" jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_company" jhiTranslate="commercialActivitiesApp.debt.company">Company</label>
          <select
            class="form-control"
            id="field_company"
            data-cy="company"
            name="company"
            formControlName="company"
            [compareWith]="compareCompany"
          >
            <option [ngValue]="null"></option>
            @for (companyOption of companiesSharedCollection(); track $index) {
              <option [ngValue]="companyOption">{{ companyOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sale" jhiTranslate="commercialActivitiesApp.debt.sale">Sale</label>
          <select class="form-control" id="field_sale" data-cy="sale" name="sale" formControlName="sale" [compareWith]="compareSale">
            <option [ngValue]="null"></option>
            @for (saleOption of salesSharedCollection(); track $index) {
              <option [ngValue]="saleOption">{{ saleOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
