<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (debt(); as debtRef) {
      <div>
        <h2 data-cy="debtDetailsHeading"><span jhiTranslate="commercialActivitiesApp.debt.detail.title">Debt</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ debtRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="commercialActivitiesApp.debt.totalAmount">Total Amount</span></dt>
          <dd>
            <span>{{ debtRef.totalAmount }}</span>
          </dd>
          <dt><span jhiTranslate="commercialActivitiesApp.debt.amountPaid">Amount Paid</span></dt>
          <dd>
            <span>{{ debtRef.amountPaid }}</span>
          </dd>
          <dt><span jhiTranslate="commercialActivitiesApp.debt.remainingAmount">Remaining Amount</span></dt>
          <dd>
            <span>{{ debtRef.remainingAmount }}</span>
          </dd>
          <dt><span jhiTranslate="commercialActivitiesApp.debt.date">Date</span></dt>
          <dd>
            <span>{{ debtRef.date | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="commercialActivitiesApp.debt.company">Company</span></dt>
          <dd>
            @if (debt()!.company) {
              <div>
                <a [routerLink]="['/company', debt()!.company?.id, 'view']">{{ debtRef.company?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="commercialActivitiesApp.debt.sale">Sale</span></dt>
          <dd>
            @if (debt()!.sale) {
              <div>
                <a [routerLink]="['/sale', debt()!.sale?.id, 'view']">{{ debtRef.sale?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/debt', debtRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
