<div>
  <h2 id="page-heading" data-cy="CashDisbursementHeading">
    <span jhiTranslate="commercialActivitiesApp.cashDisbursement.home.title">CashDisbursements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="commercialActivitiesApp.cashDisbursement.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cash-disbursement"
        [routerLink]="['/cash-disbursement/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="commercialActivitiesApp.cashDisbursement.home.createLabel">Créer un nouveau Cash Disbursement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (cashDisbursements().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="commercialActivitiesApp.cashDisbursement.home.notFound">Aucun Cash Disbursement trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="reason">
              <div class="d-flex">
                <span jhiTranslate="commercialActivitiesApp.cashDisbursement.reason">Reason</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span jhiTranslate="commercialActivitiesApp.cashDisbursement.amount">Amount</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="date">
              <div class="d-flex">
                <span jhiTranslate="commercialActivitiesApp.cashDisbursement.date">Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="company.id">
              <div class="d-flex">
                <span jhiTranslate="commercialActivitiesApp.cashDisbursement.company">Company</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span jhiTranslate="commercialActivitiesApp.cashDisbursement.user">User</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (cashDisbursement of cashDisbursements(); track trackId(cashDisbursement)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/cash-disbursement', cashDisbursement.id, 'view']">{{ cashDisbursement.id }}</a>
              </td>
              <td>{{ cashDisbursement.reason }}</td>
              <td>{{ cashDisbursement.amount }}</td>
              <td>{{ cashDisbursement.date | formatMediumDatetime }}</td>
              <td>
                @if (cashDisbursement.company) {
                  <div>
                    <a [routerLink]="['/company', cashDisbursement.company.id, 'view']">{{ cashDisbursement.company.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (cashDisbursement.user) {
                  <div>
                    <a [routerLink]="['/app-user', cashDisbursement.user.id, 'view']">{{ cashDisbursement.user.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/cash-disbursement', cashDisbursement.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/cash-disbursement', cashDisbursement.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(cashDisbursement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (cashDisbursements().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
