<div>
  <h2 id="page-heading" data-cy="StockArrivalHeading">
    <span jhiTranslate="commercialActivitiesApp.stockArrival.home.title">StockArrivals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="commercialActivitiesApp.stockArrival.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-stock-arrival"
        [routerLink]="['/stock-arrival/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="commercialActivitiesApp.stockArrival.home.createLabel">Créer un nouveau Stock Arrival</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (stockArrivals().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="commercialActivitiesApp.stockArrival.home.notFound">Aucun Stock Arrival trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="barcode">
              <div class="d-flex">
                <span jhiTranslate="commercialActivitiesApp.stockArrival.barcode">Barcode</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="commercialActivitiesApp.stockArrival.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span jhiTranslate="commercialActivitiesApp.stockArrival.amount">Amount</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="date">
              <div class="d-flex">
                <span jhiTranslate="commercialActivitiesApp.stockArrival.date">Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="product.id">
              <div class="d-flex">
                <span jhiTranslate="commercialActivitiesApp.stockArrival.product">Product</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (stockArrival of stockArrivals(); track trackId(stockArrival)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/stock-arrival', stockArrival.id, 'view']">{{ stockArrival.id }}</a>
              </td>
              <td>{{ stockArrival.barcode }}</td>
              <td>{{ stockArrival.quantity }}</td>
              <td>{{ stockArrival.amount }}</td>
              <td>{{ stockArrival.date | formatMediumDatetime }}</td>
              <td>
                @if (stockArrival.product) {
                  <div>
                    <a [routerLink]="['/product', stockArrival.product.id, 'view']">{{ stockArrival.product.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/stock-arrival', stockArrival.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/stock-arrival', stockArrival.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(stockArrival)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (stockArrivals().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
